[Desktop Entry]
Name=SoberLauncher
Comment=An easy launcher to control all your Sober Instances
Exec=SoberLauncher
Icon=org.taboulet.SoberLauncher
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;
